<h1 id="title">Add a contact</h1>

<form method="post" ng-submit="submit()">
	<div class="form-group">
		<label class="control-label" for="contact-email">Email Address</label>
		<input type="text" class="form-control" ng-model="contact.email" ng-disabled="processing">
		<span class="help-block" ng-repeat="error in errors.contact.email">{{ error }}</span>
	</div>

	<button type="submit" class="btn btn-primary" ng-disabled="!contact.resolved">Add contact</button>
</form>