<div>
	<h1>People</h1>

	<div class="pull-right">
		<a class="btn btn-primary" ui-sref=".add">+ Add Contact</a>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts">
			<td>{{ contact.name }}</td>
			<td>{{ descriptive_status(contact.status) }}</td>
			<td>
				<div ng-show="contact.status == 'PENDING'">
					<button class="btn btn-success" ng-click="accept(contact)" ng-disabled="processing">Accept</button>
					<button class="btn btn-danger" ng-click="decline(contact)" ng-disabled="processing">Decline</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>