<div>
	<header>{{ contact.name }}</header>

	<div class="messages">
		<p ng-repeat="message in contact.messages">
			{{ message.ts|date:"h:mma" }}: {{ message.message }}
		</p>
	</div>

	<form ng-submit="send()">
		<input type="text" placeholder="Write message.." ng-model="message_input">
	</form>
</div>