<div>
	<div>
		<label>{{ status }}</label>
	</div>
	<div ng-repeat="contact in contacts">
		<div class="contact-online-{{ contact.online }}">
			<a href="#" ng-click="activate(contact)">{{ contact.name }}</a>
		</div>
	</div>
</div>