<div class="conferences-navbar">
	<h1>Conference</h1>

	<nav>
		<a ui-sref=".running">Running Conferences</a>
		<a ui-sref=".new">New Conference</a>
		<a ui-sref=".whiteboard">Whiteboard</a>
	</nav>
</div>

<div class="conferences-content row" ui-view>
</div>