<div style="padding: 50px">
	<h2>Start a conference</h2>

	<form class="form" ng-submit="create()">

		<div class="form-group">
			<label class="control-label">Conference Name</label>
			<input class="form-control" type="text" placeholder="E.g. Finance Meeting, Design Meeting etc." ng-model="forms.name">
		</div>

		<div class="form-group">
			<label class="control-label">Invite People</label>

			<div>
				<ul class="tag">
					<li ng-repeat="contact in forms.contacts.invited">{{ contact.name }}</li>
				</ul>
			</div>

			<input class="form-control"
				type="text"
				placeholder="Select contacts to invite here"
				ng-model="forms.contacts.current"
				typeahead-on-select="invite()"
				typeahead="contact as contact.name for contact in contacts | filter:$viewValue | limitTo:8">
		</div>


		<input class="button button-primary" type="submit" value="Create">
	</form>
</div>