<h2>{{ conference.joined.name }}</h2>

<div style="padding: 50px">
	<video width="640" height="400" ng-src="{{ stream }}" autoplay></video>
</div>


<div style="padding: 50px">
	<video width="640" height="400" ng-src="{{ remote_stream }}" autoplay></video>
</div>