<div style="padding: 50px">
	<h2>Conferences currently underway</h2>

	<a ng-repeat="conference in conferences" ng-click="join(conference)">
		<h3>{{ conference.name }}</h3>
		<p>Created by: {{ get_contact(conference.owner) }}</p>
		<p>Invited: {{ conference.invited.length }} people</p>
	</a>
</div>