<div style="padding: 50px">
	<h1>Projects<a class="btn btn-primary pull-right" ui-sref="projects.new">New Project</a></h1>

	<table class="table">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Creation Date</th>
				<th>Project Due Date</th>
				<th>Project Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projects">
				<td><a ui-sref="projects.detail.overview({id: project.id})">{{ project.title }}</a></td>
				<td>{{ project.created_at|date:"longDate" }}</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>