{% load staticfiles %}

<footer class="footer">
	<div class="container">
		<div class="brand">
			<img src="{% static 'logo-white.png' %}">
		</div>

		<div class="sitemap">
			<ul>
				<li>About Coach Me</li>
				<li>How it Works</li>
				<li>Pricing & Plans</li>
				<li>FAQ</li>
			</ul>

			<ul>
				<li>The Boardroom</li>
				<li>Blog</li>
				<li>Register</li>
				<li>Post a Job</li>
			</ul>

			<ul>
				<li>Privacy Policy</li>
				<li>Disclaimer</li>
				<li>Terms & Conditions</li>
				<li>Technical Support Team</li>
			</ul>

			<ul>
				<li>Resource Link 1</li>
				<li>Resource Link 2</li>
				<li>Resource Link 3</li>
				<li>Resource Link 4</li>
			</ul>
		</div>
	</div>


	<div class="legal">
		<ul>
			<li><a href="#">Disclaimer</a></li>
			<li class="divider"></li>
			<li><a href="#">Terms & Conditions</a></li>
			<li class="divider"></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>
	</div>

	<div class="copyright">
		Copyright 2013 Coach Me. All Rights Reserved.
	</div>
</footer>