<!DOCTYPE html>
<html lang="en" ng-app="core">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Coach Me</title>

	<link href="/assets/common.css" rel="stylesheet" type="text/css">
	<link href="/assets/core.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="navigation-slide" ng-controller="NavigationController" ng-include="template.url">
	</div>

	<div class="core-content" ui-view autoscroll="false">
	</div>

	{% include "core/footer.html" %}

	<script type="text/javascript" src="/assets/common.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/core.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/templates.js" charset="utf-8"></script>
</body>
</html>