<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="thumbnail">
				<img ng-hide="forms.photo.editing" ng-src="{{ coach.photo_large }}">
				<img ng-show="forms.photo.editing" ng-src="{{ photo.resized.dataURL }}">
			</div>
			<small><a href="" ng-click="edit('photo')">edit</a></small>
			<div class="profile-upload" ng-show="forms.photo.editing">
				<input type="file"
					class="upload-input"
					accept="image/*"
					image="photo"
					resize-max-height="200"
					resize-max-width="150"
					resize-quality="0.7">
				<a class="upload-button">Upload</a>
			</div>

			<div>
				<span>{{ coach.full_name }}</span>
				<span>Rating: {{ coach.rating }}</span>
			</div>
		</div>

		<div class="col-md-9">

			<h1>{{ coach.full_name }}</h1>

			<div>
				<h3>About {{ coach.full_name }} <small><a href="" ng-click="edit('about_me')">edit</a></small></h3>
				<p ng-hide="forms.about_me.editing">{{ coach.about_me }}</p>
				
				<div ng-show="forms.about_me.editing">
					<textarea class="form-control" rows="4" ng-model="forms.about_me.value"></textarea>
					<button class="btn btn-success" ng-click="save('about_me')">Save</button>
					<button class="btn btn-danger" ng-click="discard('about_me')">Discard</button>
				</div>
			</div>


			<div>
				<h3>Job History</h3>
			</div>


			<div>
				<h3>Experience</h3>
			</div>


			<div>
				<h3>Services</h3>
			</div>


			<div class="profile-industry">
				<h3>Industry Experience <small><a href="" ng-click="edit('industries')">edit</a></small></h3>
				<ul>
					<li ng-repeat="industry in coach.industries">{{ industry.name }}</li>
				</ul>
				
				<div ng-show="forms.industries.editing">
					<input class="form-control"
						type="text"
						ng-model="forms.industries.current"
						typeahead-on-select="add('industries')"
						typeahead="industry.name for industry in industries | filter:$viewValue | limitTo:8">

					<div>
						<ul>
							<li ng-repeat="industry in forms.industries.selected">{{ industry.name }}</li>
						</ul>
					</div>

					<div>
						<button class="btn btn-success" ng-click="save_list('industries')">Save</button>
						<button class="btn btn-danger" ng-click="discard('industries')">Discard</button>
					</div>
				</div>
			</div>


			<div class="profile-skills">
				<h3>Skills <small><a href="" ng-click="edit('skills')">edit</a></small></h3>
				<ul>
					<li ng-repeat="skill in coach.skills">{{ skill.name }}</li>
				</ul>
				
				<div ng-show="forms.skills.editing">
					<input class="form-control"
						type="text"
						ng-model="forms.skills.current"
						typeahead-on-select="add('skills')"
						typeahead="skill.name for skill in skills | filter:$viewValue | limitTo:8">

					<div>
						<ul>
							<li ng-repeat="skill in forms.skills.selected">{{ skill.name }}</li>
						</ul>
					</div>

					<div>
						<button class="btn btn-success" ng-click="save_list('skills')">Save</button>
						<button class="btn btn-danger" ng-click="discard('skills')">Discard</button>
					</div>
				</div>
			</div>


			<div>
				<h3>Education</h3>
			</div>

			<div>
				<h3>Testimonials <small><a href="" ng-click="edit_testimonials()">edit</a></small></h3>
				<div ng-hide="forms.testimonials.editing" ng-repeat="testimonial in coach.testimonials">
					<p>{{ testimonial.content }}</p>
					<p>{{ testimonial.name }} - {{ testimonial.business }}</p>
				</div>

				<div ng-show="forms.testimonials.editing">
					<div class="well" ng-repeat="testimonial in forms.testimonials.values">
						<textarea class="form-control" placeholder="Write your testimonial here.." ng-model="testimonial.content"></textarea>
						<div class="form-group">
							<input class="form-control" type="text" placeholder="Name" ng-model="testimonial.name">
							<input class="form-control" type="text" placeholder="Business" ng-model="testimonial.business">
						</div>
					</div>

					<div>
						<button class="btn btn-success" ng-click="save_testimonials()">Save</button>
						<button class="btn btn-danger" ng-click="discard('testimonials')">Discard</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>