<h2>Coach Experience</h2>

<div class="row register-industries">
	<label>Industries you have worked in: eg, Banking, Marketing.</label>
	<input class="form-control"
		type="text"
		ng-model="form.industries"
		typeahead-on-select="add('industries')"
		typeahead="industry.name for industry in industries | filter:$viewValue | limitTo:8">

	<ul class="tag">
		<li ng-repeat="industry in coach.industries">{{ industry.name }}</li>
	</ul>
</div>

<div class="row register-skills">
	<label>Skills you have: eg, Lead Generation, Accounting.</label>
	<input class="form-control"
		type="text"
		ng-model="form.skills"
		typeahead-on-select="add('skills')"
		typeahead="skill.name for skill in skills | filter:$viewValue | limitTo:8">

	<ul class="tag">
		<li ng-repeat="skill in coach.skills">{{ skill.name }}</li>
	</ul>
</div>