<div class="container">

	<h1>Coach Profile Registration</h1>

	<div class="row">
		<div class="col-md-3">
			<h2>Your Progress</h2>
			<ul>
				<li ng-show="step >= 1">Step 1: Register Free</li>
				<li ng-show="step >= 2">Step 2: Coaching Experience</li>
			</ul>
		</div>

		<div class="col-md-9" ui-view autoscroll="false"></div>
	</div>

	<div class="row">
		<a class="btn btn-primary" style="float:right" ng-click="next()">Next</a>
		<a class="btn" style="float:right" ng-show="step > 1" ng-click="prev()">Back</a>
	</div>
</div>