<h2>Personal Information</h2>

<div class="row">
	<div class="alert alert-danger" ng-show="errors.coach">
		<ul>
			<li ng-repeat="error in errors.coach">{{ error[0] }}</li>
		</ul>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.first_name}">
			<label class="control-label">First Name</label>
			<input class="form-control" type="text" ng-model="coach.first_name">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.email}">
			<label class="control-label">Email</label>
			<input class="form-control" type="email" ng-model="coach.email">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.last_name}">
			<label class="control-label">Last Name</label>
			<input class="form-control" type="text" ng-model="coach.last_name">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.confirm_email}">
			<label class="control-label">Confirm Email</label>
			<input class="form-control" type="email" ng-model="coach.confirm_email">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.username}">
			<label class="control-label">Username</label>
			<input class="form-control" type="text" ng-model="coach.username">
		</div>
	</div>

	<div class="col-md-6">
		<label>This will be your site address</label>
		<label>eg. coachme.com.au/username</label>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.password}">
			<label class="control-label">Password</label>
			<input class="form-control" type="password" ng-model="coach.password">
		</div>
	</div>

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error': errors.coach.confirm_password}">
			<label class="control-label">Confirm Password</label>
			<input class="form-control" type="password" ng-model="coach.confirm_password">
		</div>
	</div>
</div>