<div class="container" ng-controller="CreateProposalController">
    <form class="form" ng-submit="submit()">

        <h2>{{ job.title }}</h2>
        
        <div class="row">
            <div class="col-md-7">
                <div class="form-group" ng-class="{'has-error': errors.proposal.details}">
                    <h3>Describe Your Proposal</h3>
                    <p>Enter you proposal details.</p>
                    <p>- Please do not include any contact information.</p>
                    <p>- If you're not sure on the pricing ask for more details on the project.</p>
                    <textarea class="form-control" max-length="4000" rows="20" ng-model="proposal.details"></textarea>
                    <span class="pull-right">4000 character limit</span>
                </div>
            </div>

            <div class="col-md-5">
                <h3>Price and Timeframe</h3>
                
                <div class="form-group" ng-class="{'has-error': errors.proposal.hourly_rate}">
                    <p>Your bid</p>
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" ng-model="proposal.hourly_rate">
                        <span class="input-group-addon"> / hour</span>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> I don't want to submit a bid at this time
                    </label>
                </div>

                <div class="form-group" ng-class="{'has-error': errors.proposal.hours_per_week}">
                    <p>Estimated hours</p>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="proposal.hours_per_week">
                        <span class="input-group-addon"> / week</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error': errors.proposal.duration}">
                    <p>Estimated Job Duration</p>
                    <kalendae months="2" mode="range" direction="today-future" ng-model="forms.date_range"></kalendae>

                    <p class="text-center">OR</p>

                    <p>Estimated Time Period</p>
                    <select class="form-control" ng-model="forms.duration">
                        <option value="7">1 Week</option>
                        <option value="14">2 Weeks</option>
                        <option value="21">3 Weeks</option>
                        <option value="30">1 Month</option>
                        <option value="60">2 Months</option>
                        <option value="90">3 Months</option>
                        <option value="120">6 Months</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="button-bar">
                <input type="submit" class="button button-primary" value="Submit">
                <a class="button" ng-click="cancel()">Cancel</a>
            </div>
        </div>

    </form>
</div>