<h3>Job Information</h3>

<div class="alert alert-danger" ng-show="errors.job">
	<ul>
		<li ng-repeat="error in errors.job">{{ error[0] }}</li>
	</ul>
</div>

<div class="container">
	<form class="form" ng-submit="create()">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': errors.job.title}">
					<label class="control-label">Name of job</label>
					<input class="form-control" type="text" placeholder="E.g. Marketing Help, Web Design, Business Plan" ng-model="job.title">
				</div>
			</div>

			<div class="col-md-6">
				<div class="form-group" ng-class="{'has-error': errors.job.industry}">
					<label class="control-label">Industry</label>
					<select class="form-control" placeholder="What industry are you in?" ng-model="job.industry" ng-options="industry.name for industry in industries"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group" ng-class="{'has-error': errors.job.description}">
					<label class="control-label">Describe the job</label>
					<textarea class="form-control" max-length="3000" rows="7" placeholder="Tell us a little about the job you need doing. Be sure to include as much detail as possible to attract the best qualified and relevant coaches" ng-model="job.description"></textarea>
					<span class="pull-right">3000 character limit</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group" ng-class="{'has-error': errors.job.skills}">
					<label class="control-label">Desired skills</label>

					<div>
						<ul class="tag">
							<li ng-repeat="skill in job.skills">{{ skill.name }}</li>
						</ul>
					</div>

					<input class="form-control"
								type="text"
								placeholder="E.g. Sales, Web Design, Lead Generation etc."
								ng-model="forms.skills.current"
								typeahead-on-select="add('skills')"
								typeahead="skill.name for skill in skills | filter:$viewValue | limitTo:8">
				</div>
			</div>
		</div>


		<h3>Job Period</h3>
		<div class="row form-group" ng-class="{'has-error': errors.job.duration}">
			<div class="col-md-6">
				<kalendae months="2" mode="range" direction="today-future" ng-model="forms.date_range"></kalendae>
			</div>

			<div class="col-md-1">
				<span class="text-center">OR</span>
			</div>

			<div class="col-md-5">
				<label>Time Period</label>
				<select class="form-control" ng-model="forms.duration">
					<option value="7">1 Week</option>
					<option value="14">2 Weeks</option>
					<option value="21">3 Weeks</option>
					<option value="30">1 Month</option>
					<option value="60">2 Months</option>
					<option value="90">3 Months</option>
					<option value="120">6 Months</option>
				</select>
			</div>
		</div>


		<div class="row">
			<div class="button-bar">
				<input type="submit" class="button button-primary" value="Post Job">
			</div>
		</div>
	</form>
</div>