<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h1>Hi {{ user.first_name }},</h1>
			<h3>Here are some jobs that may interest you...</h3>
			
			<button>Recommended To You</button>
			<button>Proposals Sent</button>
			<button>Declined Offers</button>
			<div class="row" ng-repeat="job in jobs">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
						</div>

						<div class="col-md-8">
							<h3>{{ job.title }}</h3>
							<span>Posted: {{ job.added_at|date:"d MMMM yyyy" }}</span>

							<h3>Skills Required</h3>
							<span>{{ job.desired_skills }}</span>
						</div>

						<div class="col-md-2">
							<a class="button button-primary" ng-click="apply(job)">Apply</a>
						</div>
					</div>

					<div class="row">
						<label>Details:</label>
						<span>{{ job.description }}</span>
					</div>
				</div>
				
			</div>

		</div>

		<div class="col-md-4">
		</div>
	</div>
</div>


<div class="proposal" ng-show="applying">
	<div class="overlay"></div>
	<ng-include class="content" src="'jobs/partials/create_proposal.html'"></ng-include>
</div>