<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h2>{{ job.title }} <small>Posted: {{ job.added_at|date:'d MMMM, yyyy' }}</small></h2>
			<h3>Here are some proposals that may interest you...</h3>

			<button>Recommended To You</button>
			<button>Proposals Sent</button>
			<button>Declined Offers</button>			
			<div class="row" ng-repeat="proposal in proposals">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2">
						</div>

						<div class="col-md-8">
							<h3>{{ job.title }}</h3>
							<span>Posted: {{ proposal.added_at|date:"d MMMM yyyy" }}</span>
						</div>

						<div class="col-md-2">
							<a class="button button-primary" ng-click="accept(proposal)">Accept</a>
						</div>
					</div>

					<div class="row">
						<label>Details:</label>
						<span>{{ proposal.details }}</span>
					</div>
				</div>
				
			</div>

		</div>

		<div class="col-md-4">
		</div>
	</div>
</div>