<div class="calendar-navbar">
	<h1>Calendar</h1>

	<nav>
		<a ng-click="monthly()">Monthly View</a>
		<a ng-click="weekly()">Weekly View</a>
		<a ng-click="daily()">Daily View</a>
	</nav>

	<a class="button" ng-click="sync_google()">Sync with Google Calendar</a>
	<a ng-click="connect_google()">Connect to Google account</a>
</div>

<div class="calendar-content row">

	<div class="row">
		<div class="calendar-header">
			<h1>{{ current.title }}</h1>

			<div class="calendar-buttons pull-right">
				<a class="button"><span class="glyphicon glyphicon-plus"></span> Add Event</a>
				<a clsas="button button-primary" ng-click="today()">Today</a>
				<a class="button" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="button" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="calendar" ui-calendar="config.calendar" ng-model="eventSources" calendar="calendar"></div>
	</div>
</div>