<div class="col-md-9">
	<h2>New Message</h2>

	<form method="post" ng-submit="create()">
		<div class="form-group">
			<label class="control-label" for="message-to">To</label>

			<input class="form-control"
				type="text"
				ng-model="form.message.recipient"
				ng-disabled="processing"
				typeahead-on-select="select_contact()"
				typeahead="contact as contact.name for contact in contacts | filter:$viewValue | limitTo:8">

			<span class="help-inline" ng-repeat="error in errors.message.to">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="message-subject">Subject</label>
			<input type="text" class="form-control" ng-model="message.subject" ng-disabled="processing">
			<span class="help-inline" ng-repeat="error in errors.message.subject">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="message-body">Message</label>
			<textarea class="form-control" ng-model="message.body" ng-disabled="processing"></textarea>
			<span class="help-inline" ng-repeat="error in errors.message.body">{{ error }}</span>
		</div>

		<button type="submit" class="btn btn-success" ng-disabled="processing">Create Message</button>
	</form>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="^">Back to Messages</a>
</div>