<div>
	<h1>Inbox</h1>

	<div class="pull-right">
		<a class="btn btn-primary" ui-sref=".new">+ New Message</a>
	</div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>From</th>
			<th>Subject</th>
			<th>Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="message in messages">
			<td>{{ message.sender_name }}</td>
			<td>{{ message.subject }}</td>
			<td>{{ message.sent_at|date:"longDate" }}</td>
			<td></td>
		</tr>
	</tbody>
</table>