<!DOCTYPE html>
<html lang="en" ng-app="boardroom">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Coach Me - Boardroom</title>

	<link href="/assets/common.css" rel="stylesheet" type="text/css">
	<link href="/assets/boardroom.css" rel="stylesheet" type="text/css">
</head>

<body>

	{% include 'boardroom/top_nav.html' %}

	<nav class="boardroom-navbar">
		<a href="#/dashboard">Dashboard</a>
		<a ui-sref="calendar">Calendar</a>
		<a href="#/messages">Messages</a>
		<a href="#/projects">Projects</a>
		<a ui-sref="conferences.running">Meeting Room</a>
		<a href="#/people">People</a>
	</nav>

	<div class="boardroom-content" ui-view>
	</div>


	<footer>
		{% verbatim %}
			<aside class="boardroom-chat" ng-controller="ChatController">
				<button ng-click="toggle_contacts()">Contacts</button>

				<contacts class="contacts show-{{ show_contacts }}"></contacts>
				
				<div class="chat-boxes">
					<chat-window class="chat-box" contact="{{ contact.id }}" ng-repeat="contact in active_contacts"></chat-window>
				</div>
			</aside>
		{% endverbatim %}
	</footer>


	<script type="text/javascript" src="/assets/calendar.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/common.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/core.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/boardroom.js" charset="utf-8"></script>
	<script type="text/javascript" src="/assets/templates.js" charset="utf-8"></script>

</body>
</html>