{% load staticfiles %}

<div class="user-navbar">
	<a class="navigation-brand" href="{% url 'core.views.home' %}"><img src="{% static 'logo-white.png' %}"></a>

	<div class="right">
		<form class="form" role="form">
			<div class="form-group">
				{% if user.is_coach %}
					<input type="text" class="form-control" placeholder="Find Work">
				{% endif %}
			</div>
		</nav>

		<div class="my-account-button">
			<button type="button" class="btn">
				My Account <span class="caret"></span>
			</button>
		</div>
	</div>

	<nav role="navigation">
		<a class="button" ui-sref="messages">My Messages</a>

		{% if user.is_coach %}
			<a href="/#/profile/" class="button">My Profile</a>
			<a ui-sref="dashboard" class="button">The Boardroom</a>
		{% else %}
			<a href="#" class="menu-button">Post a Job</a>
		{% endif %}
	</nav>
</div>