//
// Base styles
// --------------------------------------------------

// Core variables and mixins
@import "lib/bootstrap/variables.less";
@import "variables.less";

@import "lib/bootstrap/mixins.less";

// Reset
@import "lib/bootstrap/normalize.less";
@import "lib/bootstrap/print.less";

// Core CSS
@import "lib/bootstrap/scaffolding.less";
@import "lib/bootstrap/type.less";
@import "lib/bootstrap/code.less";
@import "lib/bootstrap/grid.less";
@import "lib/bootstrap/tables.less";
@import "lib/bootstrap/forms.less";
@import "lib/bootstrap/buttons.less";

// Components
@import "lib/bootstrap/component-animations.less";
@import "lib/bootstrap/navs.less";
@import "lib/bootstrap/navbar.less";
@import "lib/bootstrap/jumbotron.less";
@import "lib/bootstrap/labels.less";

// Utility classes
@import "lib/bootstrap/utilities.less";
@import "lib/bootstrap/responsive-utilities.less";


// Fonts
@font-face {
    font-family: 'OpenSansLight';
    src: url('opensans-light_4.eot');
    src: url('opensans-light_4.eot') format('embedded-opentype'),
         url('opensans-light_4.woff') format('woff'),
         url('opensans-light_4.ttf') format('truetype'),
         url('opensans-light_4.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('opensans-regular-webfont_0.eot');
    src: url('opensans-regular-webfont_0.eot') format('embedded-opentype'),
         url('opensans-regular-webfont_0.woff') format('woff'),
         url('opensans-regular-webfont_0.ttf') format('truetype'),
         url('opensans-regular-webfont_0.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('opensans-semibold_4.eot');
    src: url('opensans-semibold_4.eot') format('embedded-opentype'),
         url('opensans-semibold_4.woff') format('woff'),
         url('opensans-semibold_4.ttf') format('truetype'),
         url('opensans-semibold_4.svg#OpenSansSemibold') format('svg');
}



.heading(@size) {
  font-weight: normal;
  font-size: @size;
  font-family: @font-family-semibold;
  color: @heading-colour;
}


body {
  background: #f3f3f3;
}


h1 {
  .heading(30pt);
}
h2 {
  .heading(22pt);
  font: normal 22pt @font-family-semibold; color: @heading-colour;
}
h3 {
  .heading(12pt);
  font-family: @font-family-regular;
}
h4 {
  .heading(30pt);
  font-family: @font-family-light;
}

span,p,a,li,div,label,input {
  color: @text-colour;
  font-family: @font-family-regular;
}


// use this to style placeholder text
.placeholder {
  font-size: 8pt;
}


ul.tag {
  display: inline-block;
  
  li {
    .label;

    margin: 0 10px 0 10px;
    display: inline-block;
    color: #ffffff;
    background-color: #3193d2;
  }
}



.button {
  .btn;
}

.button-primary {
  .btn-primary;
}

.button-bar {
  .make-md-column(12);

  padding-top: 20px;
  padding-bottom: 10px;

  > .button {
    .pull-right
  }
}


.modal(@width, @height) {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  > .overlay {
    position: fixed;
    width: inherit;
    height: inherit;
    background-color: #000;
    .opacity(0.8);
    z-index: 1000;
  }

  > .content {
    position: fixed;
    width: @width;
    height: @height;
    z-index: 2000;

    left: 50%;
    top: 50%;
    margin-left: -(@width / 2);
    margin-top: -(@height / 2);
  }
}


// compatibility fix with bootstrap3
.kalendae * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; 
}