//
// Boardroom styles
// --------------------------------------------------

// Core styles
@import "base.less";


// Navigation
// --------------------------------------------------

.user-navbar {
	background-color: @userbar-background-colour;
	position: absolute;
	width: 100%;
	height: @header-height;
	z-index: 10;

	nav {
		width: 500px;
		margin: auto;

		a {
			margin: auto;
			display: inline-block;
			background-color: @userbar-background-colour;
			color: #ffffff;
			// line-height: @header-height;
			padding: 0 30px 0 30px;

			&:hover,
			&:focus {
				text-decoration: none;
				background-color: #3193d2;
			}
		}
	}

	.form {
		.form-inline;

		display: inline-block;
		padding: 0 20px 0 20px;
	}

	.my-account-button {
		display: inline-block;
		padding: 0 20px 0 20px;
	}

	.right {
		float: right;
		line-height: @header-height;
	}
}

.boardroom-navbar {
	.make-md-column(1);

	background-color: @boardroom-navbar-background;
	color: #ffffff;
	padding: 0;
	padding-top: @header-height;
	height: 100%;

	a {
		color: #ffffff;
		display: block;
		padding: @nav-link-padding;
		
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: #3193d2;
		}

		&.disabled {
			color: @nav-disabled-link-color;

			&:hover,
			&:focus {
				color: @nav-disabled-link-hover-color;
				text-decoration: none;
				background-color: transparent;
				cursor: not-allowed;
			}
		}

	}
}

.boardroom-content {
	.make-md-column(11);
	padding: 0;
	padding-top: @header-height;
	height: 100%;
	background-color: #f3f3f3;
}

.boardroom-chat {
	width: 200px;
	float: right;

	button {
		.btn;
		width: 200px;
		height: @footer-height;
		background-color: #2b6e99;
		color: #ffffff;
	}

	.contacts {
		position: fixed;
		bottom: @footer-height;

		&.show-false { display: none; }
		&.show-true { display: block; }
	}

	.chat-boxes {
		position: fixed;
		bottom: 0px;
		right: 200px;

		.chat-box {
			display: inline-block;
			padding: 2px;
			width: 250px;
			height: 250px;
			background-color: #ffffff;

			header {
				padding: 5px;
				background-color: #2b6e99;
				color: #ffffff;
				height: 30px;
			}

			input {
				position: fixed;
				bottom: 0px;
				width: 246px;
				height: 40px;
				border: none;
				border-top: gray 1px solid;
			}

			.messages {
				height: 180px;
				overflow: auto;
			}
		}
	}
}

.contact-online-false {
	background-color: red;
}

.contact-online-true {
	background-color: green;
}


html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

footer {
	background-color: #111217;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: @footer-height;
	z-index: 10;
}
