//
// Projects styles
// --------------------------------------------------

// Core styles
@import "base.less";


// Navigation
// --------------------------------------------------

.calendar-navbar {
	.make-md-column(2);

	background-color: #d8d8d8;
	color: #000000;
	padding: 0;
	height: 100%;

	h1 { text-align: center; }

	nav > a {
		color: #000000;
		display: block;
		padding: @nav-link-padding;
	}
}

.calendar-content {
	.make-md-column(10);
	max-height: 100%;
	overflow: auto;
}


.calendar-header {
	.make-md-column(12);
	padding: 0 100px 20px 100px;

	> h1 {
		display: inline-block;
	}

	> .calendar-buttons {
		.pull-right;

		margin-top: 20px;
		margin-bottom: 10px;
	}
}


.calendar {
	padding: 0 100px 0 100px;
}