//
// Main styles
// --------------------------------------------------

// Core styles
@import "base.less";


// Alternate buttons
// --------------------------------------------------

.btn-menu {
  color: @text-colour;
  width: 150px;
  height: @menu-button-height;
  margin: 10px;

  &:hover{
    color: @highlight-colour;
  };
}

.btn-login {
  border: 1px solid #2778aa;
  background: #3294d1 url('/assets/bg-btn-login.png') repeat-x top left;
  color: #ffffff;
  width: 100px;
  height: @menu-button-height;
  margin: 1px;

  &:hover{
    background: #3294d1 url('/assets/bg-btn-login-hover.png') repeat-x bottom left;
  };
}


.menu-button {
  .btn;
  .btn-menu;
  .navbar-vertical-align(@menu-button-height);
}

.login-button {
  .btn;
  .btn-login;
  .navbar-vertical-align(@menu-button-height);
}


// Navigation
// --------------------------------------------------

.navigation {
  .navbar;
  .navbar-default;
  .navbar-static-top;
  .center-block;

  padding: 2px 0;
  margin-bottom: 0px;
}

.navigation-menu {
  .nav;
  .navbar-nav;
  .pull-right;

  > li > a {
    padding-top:    0px;
    padding-bottom: 0px;
    line-height: @menu-button-height;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      outline: none;
      .box-shadow(none);
    }
  }

  > li > a.login-button {
    color: #ffffff;
  }
}

.navigation-brand {
  .navbar-brand;
  img { .navbar-vertical-align(38px); }
}


.navigation-slide-enter {
  animation: slideInLeft 1s;
}


// User bar
// --------------------------------------------------

.userbar {
  .navigation;
  background-color: @userbar-background-colour;

  .menu-button {
    .menu-button;
    color: #ffffff;
  }

  .my-account {
    .pull-right();
    margin-right: 20px;

    .divider {
      .pull-left();

      display: inline-block;
      margin-top: 15px;
      padding: 0px 0px;
      width: 1px;
      height: 50px;
      background: url('/assets/line-divider-foot.png') repeat-y;
    }

    a {
      > img {
        float: left;
        margin-top: -5px;
        margin-right: 10px;
      }

      .menu-button;
      .caret { border-top-color: #ffffff; }

      height: 45px;
      color: #ffffff;
      pointer: cursor;
    }
  }
}


// Areas
// --------------------------------------------------

.login {
	background-color: #3294d1;
	color: #ffffff;

	.form {
		.form-horizontal;

		.group {
			.form-group;

			label {
				.make-md-column(2);
				.control-label;
			}

			input {
				.make-md-column(10);
				.form-control;
			}
		}
	}
}


.search-panel {
  color: #ffffff;
  background-color: #3193d2;
  padding: 10px;
}


// Footer
// --------------------------------------------------
.footer {
  background-color: @footer-background-colour;

  div,li,a {
    color: @footer-colour;
  }
  
  .sitemap {
    .make-row();
    .center-block;

    > ul {
      .make-md-column(3);

      > li {
        padding: 10px;
        list-style-image: url('/assets/icon-tri-e.png');
      }
    }
  }

  .legal {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid @footer-divider-colour;
    border-bottom: 1px solid @footer-divider-colour;

    > ul {
      text-align: center;
      padding: 30px 0px 20px 0px;

      > li {
        display: inline-block;
        padding: 0px 40px;
      }

      > li.divider {
        padding: 0px 0px;
        width: 2px;
        height: 14px;
        background: url('/assets/line-divider-foot.png') no-repeat;
      }
    }
  }

  .copyright {
    text-align: center;
    padding-bottom: 10px;
  }

  .brand { padding: 30px 0; }
}