//
// Main styles
// --------------------------------------------------

// Core styles
@import "base.less";


// Alternate buttons
// --------------------------------------------------

.btn-signup {
  background-color: #d40c0c;
  // background: #253741 url('img/bg-btn-signup.png') repeat-x bottom left;
  border: 2px solid #4997c8;
  border-radius: 10px;
  color: #ffffff;

  &:hover{
    background: #253741 url('/assets/bg-btn-signup.png') repeat-x top left;
  };
}

.signup-button {
  .btn-signup;
}


// Areas
// --------------------------------------------------

.signup-area {
  .text-center;

  background: url('/assets/bg-signup.png') repeat;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;


  .hero-header {
    color: #ffffff;
  }


  .video-frame {
    background: url('/assets/video-bg.png');
    width: 477px;
    height: 308px;
    margin-top: 50px;
    .center-block;
  }


  .signup-text {
    width: 660px;
    line-height: 70px;

    img { .pull-left; }
    p {
      .pull-right;
      font-size: 16pt;
      color: #ffffff;
    }

    .center-block;
    .clearfix();
  }


  .signup-form {
    .form-inline;

    padding: 20px;

    input {
      border: 2px solid #4997c8;
      border-radius: 5px;
      width: 200px;
    }

    button {
      height: @input-height-base;
      width: 200px;
      font-weight: bold;
    }
  }
}


.search-area {
	.make-md-column(8);
	.text-left;

	padding-top: 20px;
	padding-bottom: 40px;

  h2 > img {
    padding-right: 5px;
  }

  form {
    .make-md-column(4);
  }

  .search-map {
    .make-md-column(8);

    .map {
      background-image: url('/assets/map.jpg');
      width: 318px;
      height: 286px;

      .center-block;

      .states {
        width: inherit;
        height: inherit;
        position: relative;

        .map-wa {
          display: block;
          position: absolute;
          width: 129px;
          height: 188px;
          left: -1px;
          top: 25px;

          &:hover { background-image: url('/assets/map-wa.png'); }
        }

        .map-nt {
          display: block;
          position: absolute;
          width: 73px;
          height: 131px;
          left: 124px;
          top: 2px;

          &:hover { background-image: url('/assets/map-nt.png'); }
        }

        .map-sa {
          display: block;
          position: absolute;
          width: 96px;
          height: 107px;
          left: 124px;
          top: 131px;

          &:hover { background-image: url('/assets/map-sa.png'); }
        }

        .map-qld {
          display: block;
          position: absolute;
          width: 123px;
          height: 161px;
          left: 194px;
          top: 0px;

          &:hover { background-image: url('/assets/map-qld.png'); }
        }

        .map-nsw {
          display: block;
          position: absolute;
          width: 100px;
          height: 83px;
          left: 218px;
          top: 151px;

          &:hover { background-image: url('/assets/map-nsw.png'); }
        }

        .map-vic {
          display: block;
          position: absolute;
          width: 73px;
          height: 46px;
          left: 218px;
          top: 203px;

          &:hover { background-image: url('/assets/map-vic.png'); }
        }

        .map-tas {
          display: block;
          position: absolute;
          width: 39px;
          height: 36px;
          left: 239px;
          top: 251px;

          &:hover { background-image: url('/assets/map-tas.png'); }
        }
      }
    }
  }
}


.latest-coaches {
  .make-md-column(4);
  .text-left;

  padding-top: 20px;
  padding-bottom: 40px;

  .coach-box {
    height: 100px;
    max-height: 100px;

    .photo {
      height: 100px;
      max-height: 100px;
      float: left;

      img {
        max-width: 90px;
        max-height: 90px;
      }
    }

    .details {
      display: inline-block;
      margin-left: 20px;
      font-size: 10pt;
      
      h3 {
        margin-top: 0px;

        > a {
          font-weight: bold;
          color: @heading-colour;
        }
      }

      span {
        display: block;
      }

      .tag {
        display: inline-block;
        color: @highlight-colour;
      }
    }
  }
}


.statistics {
  background-color: @info-background-colour;
  padding-top: 20px;
  padding-bottom: 20px;

  label {
    .make-md-column(3);
    font-size: 15pt;
    font-weight: normal;

    > span {
      font-weight: bold;
      padding-left: 15px;
      padding-right: 5px;
    }
  }
}