//
// Jobs styles
// --------------------------------------------------

// Core styles
@import "base.less";


.proposal {
	.modal(950px, 700px);

	> .content {
		background-color: #e1e1e1;
		border-radius: 1px;
	}
}