//
// Main styles
// --------------------------------------------------

// Core styles
@import "base.less";


.thumbnail {
	min-width: 200px;
	max-width: 200px;
	min-height: 150px;
	max-height: 150px;
	line-height: 20px;
	margin-bottom: 5px;
}


.profile-upload {
	> .upload-input {
		opacity: 0;
		position: absolute;
		cursor: pointer;
		
		width: 100px;
		height: 34px;
	}

	> .upload-button {
		.btn;
		.btn-primary;

		width: 100px;
		height: 34px;
	}
}