//
// Projects styles
// --------------------------------------------------

// Core styles
@import "base.less";


// Navigation
// --------------------------------------------------

.projects-navbar {
	.make-md-column(2);

	background-color: #d8d8d8;
	color: #000000;
	padding: 0;
	height: 100%;

	h1 { text-align: center; }

	nav > a {
		color: #000000;
		display: block;
		padding: @nav-link-padding;
	}
}

.projects-content {
	.make-md-column(10);
}
