// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:				80px;
@navbar-padding-vertical:	0px;
@navbar-default-bg:			#fff;

@menu-button-height:	37px;


@header-height: 90px;
@footer-height: 30px;

@userbar-background-colour: #111217;
@boardroom-navbar-background: #1f2024;


@text-colour: #101216;
@highlight-colour: #3294d1;
@heading-colour: #3294d1;

@info-background-colour: #e9e9e9;

@footer-colour: #ffffff;
@footer-divider-colour: #343539;
@footer-background-colour: #101216;


@font-family-light: OpenSansLight, Arial, Helvetica, sans-serif;
@font-family-regular: OpenSansRegular, Arial, Helvetica, sans-serif;
@font-family-semibold: OpenSansSemibold, Arial, Helvetica, sans-serif;