<div class="col-md-9">
	<div>
		<h2>Brief</h2>
		<span>{{ brief.description }}</span>
	</div>

	<div>
		<h3>Notes</h3>
		<span></span>
	</div>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="projects">Back to Projects</a>
</div>