<div class="projects-navbar">
	<h1>Project</h1>

	<nav>
		<a ui-sref=".overview">Overview</a>
		<a ui-sref=".brief">Brief</a>
		<a ui-sref=".milestones">Milestones</a>
		<a ui-sref=".tasks">Tasks</a>
		<a ui-sref=".files">Files</a>
	</nav>
</div>

<div class="projects-content row" ui-view>
</div>