<div class="col-md-9">
	<h2>Milestones</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Milestone</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="milestone in milestones">
				<td>{{ milestone.title }}</td>
				<td>{{ milestone.due_date|date:"longDate" }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="projects">Back to Projects</a>
	<a class="btn btn-primary" ui-sref=".new">+ New Milestone</a>
</div>