<div class="col-md-9">
	<h2>New Milestones</h2>

	<form method="post" ng-submit="submit()">
		<div class="form-group">
			<label class="control-label" for="milestone-title">Title</label>
			<input type="text" class="form-control" ng-model="milestone.title" ng-disabled="processing">
			<span class="help-inline" ng-repeat="error in errors.milestone.title">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="milestone-title">Description</label>
			<textarea class="form-control" ng-model="milestone.description" ng-disabled="processing"></textarea>
			<span class="help-inline" ng-repeat="error in errors.milestone.description">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="milestone-due-date">Due Date</label>
			<input type="text" class="form-control" ng-model="milestone.due_date" ng-disabled="processing">
			<span class="help-inline" ng-repeat="error in errors.milestone.due_date">{{ error }}</span>
		</div>

		<button type="submit" class="btn btn-success" ng-disabled="processing">Create Milestone</button>
	</form>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="^">Back to Milestones</a>
</div>