<h1 id="title">Create a new project</h1>

<form method="post" ng-submit="submit()">
	<div class="form-group">
		<label class="control-label" for="project-title">Title</label>
		<input type="text" class="form-control" ng-model="project.title" ng-disabled="processing">
		<span class="help-inline" ng-repeat="error in errors.project.title">{{ error }}</span>
	</div>

	<div class="form-group">
		<label class="control-label" for="project-title">Description</label>
		<textarea class="form-control" ng-model="project.description" ng-disabled="processing"></textarea>
		<span class="help-inline" ng-repeat="error in errors.project.description">{{ error }}</span>
	</div>

	<button type="submit" class="btn btn-primary" ng-disabled="processing">Create project</button>
</form>