<div class="col-md-9">
	<h2>Overview</h2>

	<div>
		<label>Name</label>
		<span>{{ project.title }}</span>
	</div>

	<div>
		<label>Owner</label>
		<span>{{ owner.full_name }}</span>
	</div>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="projects">Back to Projects</a>
</div>