<div class="col-md-9">
	<h2>New Task</h2>

	<form method="post" ng-submit="submit()">
		<div class="form-group">
			<label class="control-label" for="task-title">Title</label>
			<input type="text" class="form-control" ng-model="task.title" ng-disabled="processing">
			<span class="help-inline" ng-repeat="error in errors.task.title">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="task-title">Description</label>
			<textarea class="form-control" ng-model="task.description" ng-disabled="processing"></textarea>
			<span class="help-inline" ng-repeat="error in errors.task.description">{{ error }}</span>
		</div>

		<div class="form-group">
			<label class="control-label" for="task-due-date">Due Date</label>
			<input type="text" class="form-control" ng-model="task.due_date" ng-disabled="processing">
			<span class="help-inline" ng-repeat="error in errors.task.due_date">{{ error }}</span>
		</div>

		<button type="submit" class="btn btn-success" ng-disabled="processing">Create Task</button>
	</form>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="^">Back to Tasks</a>
</div>