<div class="col-md-9">
	<h2>Tasks</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Task</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks">
				<td>{{ task.title }}</td>
				<td>{{ task.due_date|date:"longDate" }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="pull-right col-md-3">
	<a class="btn" ui-sref="projects">Back to Projects</a>
	<a class="btn btn-primary" ui-sref=".new">+ New Task</a>
</div>