<div class="signup-area">
	<div class="container">
		<h4 class="hero-header">Local talent for local business</h4>

		<div class="video-frame"></div>
		
		<div class="signup-text">
			<img src="/assets/icon-mf.png">
			<p>Signup as a coach today and receive a <strong>30 day FREE trial!</strong></p>
		</div>

		<form class="signup-form" ng-submit="register()">
			<div class="form-group">
				<label class="sr-only" for="first_name">First Name</label>
				<input type="text" id="first_name" class="form-control" placeholder="First Name" ng-model="form.first_name">
			</div>
			<div class="form-group">
				<label class="sr-only" for="email">Email Address</label>
				<input type="email" id="email" class="form-control" placeholder="Email" ng-model="form.email">
			</div>
		 	<button type="submit" class="signup-button">Sign Up</button>
		</form>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="search-area">
			<h2>
				<img src="/assets/icon-mag-glass.png">
				Search for Coaches
			</h2>
			<div class="container">
				<div class="row">
					<form class="form" ng-submit="search()">
						<h3>Area of expertise</h3>
						<input class="form-control" placeholder="Start typing keywords..." ng-model="form.search">
						<button type="submit" class="search-button">Search</button>
					</form>

					<div class="search-map">
						<div class="map">
							<div class="states">
								<a href="#" class="map-wa"></a>
								<a href="#" class="map-nt"></a>
								<a href="#" class="map-sa"></a>
								<a href="#" class="map-qld"></a>
								<a href="#" class="map-nsw"></a>
								<a href="#" class="map-vic"></a>
								<a href="#" class="map-tas"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="latest-coaches">
			<h2>Our Latest Coaches</h2>
			<div class="coach-box" ng-repeat="coach in latest_coaches">
				<div class="photo">
					<a ui-sref="profile({id: coach.id})">
						<img ng-src="{{ coach.photo_medium }}">
					</a>
				</div>
				<div class="details">
					<h3><a ui-sref="profile({id: coach.id})">{{ coach.full_name }}</a></h3>
					<span>Based in <span class="tag"></span></span>
					<span>Specialises in</span>
					<span class="tag">{{ coach.industries[0].name }}</span>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="statistics">
	<div class="container">
		<div class="row">
			<label>
				<img src="/assets/icon-briefcase.png">
				<span class="total">{{ stats.industries | number }}</span> Industries
			</label>
			<label>
				<img src="/assets/icon-list.png">
				<span class="total">{{ stats.skills | number }}</span> Skills
			</label>
			<label>
				<img src="/assets/icon-pin.png">
				<span class="total">{{ stats.states | number }}</span> Locations
			</label>
			<label>
				<img src="/assets/icon-folder.png">
				<span class="total">{{ stats.jobs | number }}</span> Jobs
			</label>
		</div>
	</div>
</div>