<div class="login">
	<form class="form" role="form" method="post" action="/login">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
		
		<div class="modal-header">
			<h1 id="title">Login</h1>
		</div>

		<div class="modal-body">
				<div class="group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" required>
				</div>

				<div class="group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" required>
				</div>
		</div>

		<div class="modal-footer">
			<button class="menu-button" type="submit">Login</button>
		</div>


		<p>Need an account?</p>
		<p><a>Looking for work? Click Here</a></p>
		<p><a>Need a coach? Click Here</a></p>
	</form>
</div>