<nav class="navigation" role="navigation">
	<div class="container">
		<a class="navigation-brand" href="#">
			<img src="/assets/logo-black.png">
		</a>

		<ul class="navigation-menu">
			<li><a href="#" class="menu-button">How It Works</a></li>
			<li><a href="#" class="menu-button">Find a Coach</a></li>
			<li><a href="#" class="menu-button">Post a Job</a></li>
			<li><a href="#" class="menu-button">Pricing and Plans</a></li>
			<li><a href="#" class="login-button" ng-click="login()">Login</a></li>
		</ul>
	</div>
</nav>