<div class="container">
	<div class="row">
		<div class="col-md-3 search-panel">
			<h1>Coach Search</h1>
			<form class="form" ng-submit="search()">
				<input class="form-control" placeholder="Add keywords" ng-model="form.search">
			</form>
		</div>

		<div class="col-md-9">

			<div class="search-result-box" ng-repeat="coach in coaches">
				<div class="col-md-3 thumbnail">
					<img ng-src="{{ coach.photo }}">
				</div>
				<div class="col-md-9">
					<h1>{{ coach.full_name }}<a class="btn" style="float:right" ui-sref="profile({id: coach.id})">View Profile</a></h1>
					<p>Rating {{ coach.rating }}</p>
					<p>Based in </p>
					<span>Specialises in
						<ul class="tag">
							<li ng-repeat="industry in coach.industries">{{ industry.name }}</li>
						</ul>
					</span>
					<p>Project involvements to date</p>
				</div>
			</div>

			<pagination direction-links="false" page="1" total-items="coaches.length" items-per-page="10"></pagination>
		</div>
	</div>
</div>