<nav class="userbar" role="navigation">
	<div class="my-account dropdown">
		<div class="divider"></div>

		<a class="dropdown-toggle">
			<img ng-src="{{ user.photo_small }}">
			My Account <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>Account Settings</li>
			<li>Sign Out</li>
		</ul>
	</div>

	<div class="container">
		<a class="navigation-brand" href="#">
			<img src="/assets/logo-white.png">
		</a>

		<ul class="navigation-menu">
			<li><a href="#" class="menu-button">How It Works</a></li>
			<li><a href="#" class="menu-button">Find a Coach</a></li>
			<li><a ui-sref="jobs.create.step({step: 1})" class="menu-button">Post a Job</a></li>
			<li><a href="/boardroom" class="menu-button">My Boardroom</a></li>
		</ul>
	</div>
</nav>