<nav class="userbar" role="navigation">
	<div class="my-account dropdown">
		<div class="divider"></div>

		<a class="dropdown-toggle">
			<img ng-src="{{ user.photo_small }}">
			My Account <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>Profile</li>
			<li>Account Settings</li>
			<li>Sign Out</li>
		</ul>
	</div>

	<div class="container">
		<a class="navigation-brand" href="#">
			<img src="/assets/logo-white.png">
		</a>

		<ul class="navigation-menu">
			<li><a ui-sref="profile({id: 'me'})" class="menu-button">My Profile</a></li>
			<li><a href="/boardroom/#/messages" class="menu-button">My Messages</a></li>
			<li><a href="/boardroom" class="menu-button">My Boardroom</a></li>
			<li><a href="/logout" class="login-button">Logout</a></li>
		</ul>
	</div>
</nav>